body{background-color:cyan;


#header{
        h1{font-family:Ariel;
        color:blue;
       }
        img{border-Radius:50%;
           }
         border-Radius:20%;
        }
#img2{border-Radius:30%;
     }
#tabela1{flex-grow:10;
         
